.master {
    background: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subMaster {
    width: 30%;
    height: 30vh;
    background: white;
    padding: 1rem;
}

.input_bx {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(216, 213, 213);
    margin: 10px;
}

.inputContent {
    text-align: center;
}

.loginBtn {
    background: blue;
    color: white;
}